html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    height: 100%;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}
.headerLeft {
    width: 75%;
    float: left;
    background-color: pink;
}
.headerRight {
    width: 20%;
    text-align: right;
    float: right;
    background-color: purple;
}
.count {
    width: 100%;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card1 {
    width: 200px;
    height: 300px;
    background-color: black;
    color: white;
    margin: 10px;
    align-self: baseline;
    align-items: baseline;
}
.card2 {
    width: 140px;
    height: 250px;
    background-color: black;
    color: white;
    margin: 10px;
    align-self: baseline;
    align-items: baseline;
}
